# Binaries for programs and plugins. The Justfile builds each example into
# its own directory using the directory name as the binary name.
cmd/asrl/ds345/ds345
cmd/asrl/e3631a/e3631a
cmd/lxi/kt3024/kt3024
cmd/lxi/kt33220/kt33220
cmd/lxi/kt33512/kt33512
cmd/lxi/kt34461a/kt34461a
cmd/lxi/pmx/pmx
cmd/prologix/vcp/e3631a/e3631a
cmd/prologix/vcp/fluke45/fluke45
cmd/prologix/vcp/kt33220/kt33220
cmd/usbtmc/kt33220/kt33220
cmd/usbtmc/u2751a/u2751a
cmd/visa/usbtmc/kt33220/kt33220
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
