# Binaries for programs and plugins
cmd/asrl/ds345/ds345
cmd/asrl/e3631a/e3631a
cmd/lxi/key3024/key3024
cmd/lxi/key33220/key33220
cmd/lxi/key34461a/key34461a
cmd/lxi/pmx/pmx
cmd/prologix/vcp/e3631a/e3631a
cmd/prologix/vcp/fluke45/fluke45
cmd/prologix/vcp/key33220/key33220
cmd/usbtmc/key33220/key33220
cmd/usbtmc/keyu2751a/keyu2751a
cmd/visa/usbtmc/key33220/key33220
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
